.past-hour {
    color: white;
    background-color: #de3f39;
}


.present-hour {
    color: white;
    background-color: #27c447;
}



.future-hour {
    color: white;
    background-color: #c2b1b1;
}

body, .jumbotron {
    background-image: url(./sky.jpg);
}

